<!doctype html>

<head> <title>AIke</title> 
    <meta charset=utf-8> 
    <script   src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <script>


let text = '{ "employees" : [' +
'{ "firstName":"John" , "lastName":"Doe" },' +
'{ "firstName":"Anna" , "lastName":"Smith" },' +
'{ "firstName":"Peter" , "lastName":"Jones" } ]}';




document.getElementById('story').style.height="800px";

  </script>
</head>
<body>
<h1 style="color:#FFFFFF">Witze generieren mit AIke</h1>
<title>AIke</title>
<div class ="computergif">
  <img src = "static/generate.gif" alt="Start your own" id ="computer" />
  </div>
  <script>
          gifstoff = "static/input.gif"
          document.getElementById("computer").src = gifstoff
  
  </script>
  <div class=textside>
        <form method="POST">
            <input name="text">
            <input type="submit">
        </form>
        <form>
        
      

        <p style="color:#FFFFFF">Training und Vorhersage</p>
    
        <textarea id="story"   name="story" rows="10" cols="110" >{{data}}</textarea>
        
       
      </form>
      <form>
      <textarea id="storyadd"   name="story" rows="1" cols="110" ></textarea>
    </form>
       <script>
        
        
        function addVal(){
        document.getElementById('storyadd').value = texto
        }


       </script>


      <button onclick="typeWriter()">Strukturanalyse</button>
      
      <p id="demo"></p>
      
      <script>

      var lustiger =  Math.floor(Math.random() * 10)+Math.floor(Math.random()*100)+Math.floor(Math.random()*800);
      var texto = "Dieser Witz ist mindestens " + lustiger + " % besser als einer von 'echter' Eike";
        
      var i = 0;
      var txt = texto;
      var speed = 50;
      
      function typeWriter() {
        if (i < txt.length) {
          document.getElementById("storyadd").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
      </script>
<p id="demo"></p>

<script>
document.getElementById("demo").innerHTML =
obj.employees[1].firstName + " " + obj.employees[1].lastName;
</script>

</body>

<body>

  <br>
 
  <pre id="output"></pre>
    
  <script type="text/javascript">
      document.getElementById('inputfile')
          .addEventListener('change', function() {
            
          var fr=new FileReader();
          fr.onload=function(){
              document.getElementById('output')
                      .textContent=fr.result;
          }
            
          fr.readAsText(this.files[0]);
      })

  </script>
</body>
